:root {
  --blue: rgb(1, 169, 224);
  --white: rgb(234, 236, 248);
  --avatar: url(./img/1.jpg);
}

body {
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 400px auto;
}

html {
  box-sizing: border-box;
}

.sidebar {
  background: var(--blue);
  display: grid;
  grid-row: span 2;
  grid-template-rows: 0.2fr 0.4fr 1fr;
  color: white;
  font-size: 3rem;
  font-weight: 650;
}

a {
  text-decoration: none;
}
/* ----------------------  NAVBAR  ---------------------- */

.nav1 > ul > li > a, .nav2 > ul > li > a, h1 > a{
  display: flex;
  align-items: center;
  align-self: center;
  color: white;
  text-align: left;
  font-size: 1.7rem;
  margin-left: 30px;
}

/* ----------------------  HEADER  ---------------------- */
.header {
  background: white;
  display: grid;
  padding: 30px;
  grid-template-rows: 2;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;}

.main {
  background: var(--white);
}

.search-line {
  width: 50vw;
}

#search {
  background-color: var(--white);
  border: none;
  border-radius: 10px;
  width: 45vw;
  font-size: 1.5rem;
}

#search-img, #bell-ring {
  height: 1.5rem;
}

.picture {
  background: var(--avatar) center / cover no-repeat;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin: 20px;
}

.header-row {
  display: grid;
  grid-template-columns: 5fr 1fr;
  align-items: center;
  justify-content: center;
}

#account-name {
  grid-column: span 2;
  justify-self: center;
  align-self: center;
  font-weight: 750;
}

button {
  background-color: var(--blue);
  border-radius: 20px;
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: 750;
  width: 100px;
  height: 40px;
}

.material-icons {
  text-align: center;
}

ul {
  list-style-type: none;
  padding-left: 20px;
}

.title-logo {
  font-size: 1.8rem;
}

li {
  margin-bottom: 20px;
}

.nav-text {
  vertical-align: middle;
}

#greet {
  font-weight: 750;
}

#name {
  font-size: 1.5rem;
  font-weight: 750;
}

.account-greet {
  display: flex;
  align-items: center;
}

.new-upload-share-btns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.account {
  display: flex;
  align-items: center; 
  gap: 20px;
}

/* ----------------------  MAIN  ---------------------- */

.main {
  display: grid;
  grid-template-areas: 
    "proj announcements"
    "proj trending";
}

.projects {
  grid-area: proj;
}

.projects .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  padding: 15px;
  margin: 15px;
  border-left: 5px solid;
  border-radius: 10px;
  border-left-color: orange;
  box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45), 0px 25px 20px -20px rgba(0, 0, 0, 0.45);
}

.card .actions {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 15px;
}

.announcements {
  grid-area: announcements;
}

.trending {
  grid-area: trending;
}

#card-header {
  font-weight: 900;
  font-size: 1.2rem;
}

#card-text {
  font-size: 1.2rem;
}